* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 160px);
}

.card-rouge{
    background-color: red;
    border-radius: 20px 0 0 0;
}

.card-bleu{
    background-color: blue;
    border-radius: 0 20px 0 0;
}

.card-jaune{
    background-color: yellow;
    border-radius: 0 0 0 20px;
}

.card-vert{
 background-color: greenyellow;
 border-radius: 0 0 20px 0;
}